.main-container{
  display: flex;
  flex-direction: row;
}

.side-nav{
  background-color: #A48484;
  height: 100vh;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-buttons, .bottom-button{
  padding-left: 1rem;
}

.top-buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

Button {
  width: 90%;
}

.content-pan{
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.top-header{
  display: flex ;
  flex-direction: row;
  justify-content: space-between;
}

.turnip-name{
  background-color: #DB4040;
  flex-grow: 1;
  height: 6rem;
  text-align: center;
  font-weight: bold;
  font-size:xx-large;
}

.turnip-logo{
  background:aquamarine;
}